[Unit]
Description=serve link instance
After=network.target

[Service]
EnvironmentFile=/etc/link.conf
ExecStart=/bin/sh -c '"${BIN}" -copy "${COPY}" -path "${DIR}" -port ${PORT} -seed "${SEED}" -url "${URL}"'

[Install]
WantedBy=multi-user.target
